src/wsdl/ECommerceWSProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/jee-tut/" xmlns:xsd="http://www.w3.org/2001/XMLSchema/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.jaxws.jeetut.sleightholme.com/" name="ECommerceWSProxy">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://endpoint.jaxws.jeetut.sleightholme.com/" schemaLocation="storeInformation.xsd"/>
        </xsd:schema>
    </types>
    <message name="getStore">
        <part name="parameters" element="tns:getStore"/>
    </message>
    <message name="getStoreResponse">
        <part name="parameters" element="tns:getStoreResponse"/>
    </message>
    <message name="getStoresInCountry">
        <part name="parameters" element="tns:getStoresInCountry"/>
    </message>
    <message name="getStoresInCountryResponse">
        <part name="parameters" element="tns:getStoresInCountryResponse"/>
    </message>
    <message name="getArticleCount">
        <part name="parameters" element="tns:getArticleCount"/>
    </message>
    <message name="getArticleCountResponse">
        <part name="parameters" element="tns:getArticleCountResponse"/>
    </message>
    <message name="getArticleCounts">
        <part name="parameters" element="tns:getArticleCounts"/>
    </message>
    <message name="getArticleCountsResponse">
        <part name="parameters" element="tns:getArticleCountsResponse"/>
    </message>
    <message name="getStores">
        <part name="parameters" element="tns:getStores"/>
    </message>
    <message name="getStoresResponse">
        <part name="parameters" element="tns:getStoresResponse"/>
    </message>
    <portType name="ECommerceWSProxy">
        <operation name="getStore">
            <input wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getStoreRequest" message="tns:getStore"/>
            <output wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getStoreResponse" message="tns:getStoreResponse"/>
        </operation>
        <operation name="getStoresInCountry">
            <input wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getStoresInCountryRequest" message="tns:getStoresInCountry"/>
            <output wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getStoresInCountryResponse" message="tns:getStoresInCountryResponse"/>
        </operation>
        <operation name="getArticleCount">
            <input wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getArticleCountRequest" message="tns:getArticleCount"/>
            <output wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getArticleCountResponse" message="tns:getArticleCountResponse"/>
        </operation>
        <operation name="getArticleCounts">
            <input wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getArticleCountsRequest" message="tns:getArticleCounts"/>
            <output wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getArticleCountsResponse" message="tns:getArticleCountsResponse"/>
        </operation>
        <operation name="getStores">
            <input wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getStoresRequest" message="tns:getStores"/>
            <output wsam:Action="http://localhost/jee-tut/ECommerceWSProxy/getStoresResponse" message="tns:getStoresResponse"/>
        </operation>
    </portType>
    <binding name="ECommerceWSProxyPortBinding" type="ECommerceWSProxy">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getStore">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getStoresInCountry">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleCount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleCounts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getStores">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ECommerceWSProxy">
        <port name="ECommerceWSProxyPort" binding="tns:ECommerceWSProxy">
            <soap:address location="http://localhost:8080/jee-tut/ECommerceWSProxy"/>
        </port>
    </service>
</definitions>